/* MARGEN SUPERIOR */
.margenSuperior {
  background-color: #203d7c;
  width: 100%;
  height: 15%;
  padding: 0px; }

.imagenLogo {
  margin-left: 5%; }

.numeroTelefonico {
  margin-right: 5%;
  color: white;
  font-size: 30px;
  font-family: Work Sans; }

/* CAJA */
.contenedor {
  width: 430px;
  height: 350px;
  max-height: 350px;
  background-color: #f2f2f2;
  border-radius: 12px;
  margin-top: 100px; }

.container .textoContenedor {
  font-size: 36px;
  line-height: 30px;
  padding-top: 30px;
  font-family: Work Sans;
  text-align: center;
  font-weight: bold;
  color: grey; }

.container .boton {
  background-color: #203d7c;
  border-radius: 12px;
  text-align: center;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%; }

.boton .texto {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-family: Work Sans;
  padding: 10px 10px 10px; }

.boton .icono {
  width: 10%;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 10px; }

/* TITULOS COTIZACION */
.container .textoTitulo {
  font-family: Work Sans;
  color: #203d7c;
  text-align: center;
  font-weight: bold;
  margin-top: 100px; }

.container .textoSubtitulos {
  font-family: Work Sans;
  color: #203d7c;
  text-align: center; }

/* FORMULARIO DE COTIZACION */
.row {
  margin-left: 0px;
  margin-right: 25px; }

.contenedorForm {
  background-color: #f2f2f2;
  border-radius: 12px; }

.contenedorForm .codigoPostal {
  margin-top: 20px;
  display: inline-block;
  padding: 0px;
  margin-left: 10px;
  font-family: Work Sans; }

.contenedorForm .ceroKm {
  text-align: center;
  margin-top: 25px;
  font-family: Work Sans; }

.botonCotizar {
  margin-top: 3%;
  background-color: #203d7c;
  font-size: 150%;
  width: 200px; 
  margin-bottom: 30px;}


  

  /* ACA EMPIEZA EL FORMULARIO DE ABAJO */
  
.contenedorDos{
  width: 97%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
}

.tabla{
  width: 33%;
  height: 100%;
  margin: auto;
  border-radius: 4px;
  text-align: center;
  flex-grow: 1;
  color: #343759;
}

.tabla>h2{
  font-size:30px;
  margin-bottom:35px;
}

.tabla img{
  width: 64px;
  margin-bottom:35px;
}

.tabla > h3{
  font-size:30px;
  margin-bottom: 20px;
}

.tabla > p{
  display: block;
  margin-bottom:20px;
}

.boton{
  display:inline-block;
  width: 150px;
  padding:12px;
  background: #203d7c;
  text-decoration: none;
  color: white;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}

.tabla:hover{
  background: #343759;
  color: #f1f1f2;
  transition: .5s all;
  transform: scale(1.025);
  cursor: pointer;
}

@media screen and (max-width: 1000px){
  .tabla{
      width: 45%;
      max-width:none;
      margin-bottom: 40px;
      flex-grow: initial;
  }
}

@media screen and (max-width: 700px){
  .tabla{
      width: 45%;
      padding:30px;
  }
  .tabla > h2{
      margin-top:40px;
  }
}

@media screen and (max-width:550px){
  .tabla{
      width: 85%;
      padding: 20px;
  }
}
.iconoPeque{
  width: 8%!important;

}